events {
    worker_connections 1024;
}

http {
    upstream backend {
        server {{ hostvars['vm_2']['ansible_host'] }}:80;
        server {{ hostvars['vm_3']['ansible_host'] }}:80;
    }

    server {
        listen 3000;
        location / {
            proxy_pass http://backend;
        }
    }
}
